# ignore the .vscode folder
.vscode

# ignore the .idea folder
.idea/

# ignore the .pyc
*.pyc

# ignore _pycache_ folder
./__pycache__/
Assignment_1/PreProcessor/__pycache__/
Assignment_1/Utils/__pycache__/
Assignment_1/Utils/__pycache__/
Assignment_1/Tests/__pycache__/
Assignment_1/Data/__pycache__/
Assignment_1/Model/__pycache__/
Assignment_1/Data